.container-fluid {
  height: 100%;
}

#screensaver {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;

  #clock {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;

    #time {
      font-size: 1.2em;
    }
  }
}
