<div id="operation-details">
  <h1 mat-header>
    <span [ngStyle]="{'color': getOperationColor()}">█</span>&nbsp;{{operation.code}}
    &mdash; {{operation.message}}
  </h1>
  <h2 id="time">
    {{operation.time | date:'dd.MM.yyyy - HH:mm'}}
  </h2>
  <blockquote class="blockquote">
    <p *ngIf="!!operation.location && !!operation.location.address && !!operation.location.address.street">Straße: {{operation.location.address.street}}</p>
    <p *ngIf="!!operation.location && !!operation.location.address && !!operation.location.address.town">Ort: {{operation.location.address.town}}<span *ngIf="operation.location.address.district">&nbsp;-
        {{operation.location.address.district}}</span></p>
    <p *ngIf="!!operation.place">Einsatzort: {{operation.place}}</p>
    <app-real-estate [operation]="operation" *ngIf="operation.realEstate"></app-real-estate>
    <p *ngIf="!!operation.notice">Bemerkung: {{operation.notice}}</p>
  </blockquote>
</div>
