<div class="operation-details">
  <h1 mat-header>
    <span [ngStyle]="{'color': operation.operationType == 'F' ? 'red' : 'blue'}">█</span>&nbsp;{{operation.code}}
    &mdash; {{operation.message}}
  </h1>
  <blockquote class="blockquote">
    <p>Straße: {{operation.location.street}}</p>
    <p>Ort: {{operation.location.town}}<span *ngIf="operation.location.district">&nbsp;-
        {{operation.location.district}}</span></p>
    <p>Einsatzort: {{operation.place}}</p>
    <p>Objekt: {{operation.object}}</p>
    <p>Bemerkung: {{operation.notice}}</p>
  </blockquote>
</div>
